body{
    background: rgb(203, 233, 250);
    margin: 0;
    padding: 0;
    height: 100%;
}

div{
    padding: 30px;
    background-color: rgb(185, 208, 252);
}

.nav-bar{
    background-image: url('../img/nav.png');
    color: white;
    height:100%;
	width:100%;
	margin-top:0px;
    position:relative;
	display:flex;
	justify-content:flex-end;
	flex-direction:column; 
}

.titulos-logo{
    color: rgb(253, 253, 253);
    font-size: 22px;
    margin-left: 15px;
}

.titulos{
    color: rgb(0, 89, 255);
    text-align: center;
}

.titulos-form{
    color: rgb(0, 89, 255);
    font-size: 18px;
}

input{
    text-align:center;
    font-size:15px;
    border-radius: 2rem;
    border-bottom: 2rem;
    border-right: 2rem;
    border-left: 2rem;
    border-top: 2rem;
    color:rgb(0, 0, 0);
}

#nome{
    width: 300px;
}

#email{
    width: 300px;
}

.container{
    margin: 0;
    padding: 0;
    height: 100%;
}

.form{
    margin-left: 20px;
}

.btn-button{
    background: rgb(0, 89, 255);
    color: white;
    height: 2rem;
    width: 5rem;
    border-radius: 2rem;
    border-bottom: 2rem;
    border-right: 2rem;
    border-left: 2rem;
    border-top: 2rem;
    margin-top: 3rem;
    margin-left: 2rem;
    font-size: 18px;
}

.btn-button:focus{
    box-shadow:none;
	outline:0px;
}

.btn-button:hover{
    background: rgb(0, 65, 185);
}